body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    }
    .container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 15px;
    }
    h1 {
    text-align: center;
    color: #000;
    font-size: 15px;
    margin-top: -18px;
    }
    h2 {
    text-align: center;
    color: #000;
    font-size: 24px;
    }
    .h3-font-size{
      font-size: 16px;
    
    }
    h4 {
      text-align: center;
      color: #000;
      font-size: 10px;
      margin-top: -11px;
    }
    /*header part start*/
    .header_part{
      width: 100%;
      float: left;
    }
    .header_left{
      float: left;
      width: 20%;
    }
    .header_left p{
      margin-left: 20px;
      font-size: 20px;
      text-align: center;
      margin-top: 50px;
    }
    .header_middle{
      float: left;
      width:60%;
    }
    .header_right{
      float: right;
      /*    display: block;*/
      /*    float:rigth;*/
      width: 20%;
    }
    .header_right img{
      width: 116px;
      height: auto;
      /* margin-top: 12px; */
    }
    .header_left img{
      width: 116px;
      height: auto;
      margin-top: 23px;
    }
    .general_info{
      width: 100%;
      float: left;
    }
    .academic_info{
      width: 100%;
      float: left;
    }
    .col-4{
      width: 33.33%;
      float: left;
    }
    .col-6{
      line-height: 0px;
      width: 50%;
      float: left;
    /*    margin-bottom: 5px;*/
    }
    
    .text-danger{
      color:red;
    }
    .text-success{
      color:#53A846;
    }
    .fw-bold{
      font-weight: bold;
    }
    /*header part end*/
    label{
    /*    color: #1648de;*/
    font-size: 12px;
    color: black;
    line-height: 2.5;
    }
    td, th {
    text-align: center;
    width: 85px;
    }
    td{
    font-size: 8px;
    width: 50px;
    }
    .td_dd{
    width:100%;
    }
    
    table{
    display: flex;
    justify-content: center;
    }
    P{
    color: #000;
    font-size: 12PX;
    }
    table, th, td {
    border:1px solid black;
    border-collapse: collapse;
    font-size: 12px;
    }
    .previous-education{
        display: inline-table !important;
    }
    
    @media print {
      #printPageButton {
        display: none;
      }
    }
    .print{
    margin-top: 10px;
    }